@import '../../shared';

.body {
    padding: 20px;
    height: 200px;

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    &__fillingText {
        display: inline-block;
        font-size: rem(40px);

        &--filled {
            display: inline-block;
            font-weight: bold;
            border-bottom: 5px solid $black;
        }

        &--name {
            min-width: 150px;
        }

        &--showName {
            min-width: auto;
        }

        &--exclamationMark {
            display: inline-block;
        }
    }
}